h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

td {
    text-align: center;
    width: 100px;
    height: 100px;
    }

table {
    margin: auto;
}

.leftRightBorder {
    border-left: 1px solid;
    border-right: 1px solid;
}

.topBottomBorder {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.bottomBorder {
    border-bottom: 1px solid;
}

.allBorders {
    border: 1px solid;
}



